#profile-radio {
  display: flex;
  gap: 10px;
}

#profile-radio input[type="radio"] {
  display: none;
}

#profile-radio label {
  position: relative;
  color: #4189e0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  border: 1px solid var(--theme-color-shade);
  padding: 5px 10px;
  border-radius: 0.5em;
}

#profile-radio label:before {
  content: "";
  height: 15px;
  width: 15px;
  border: 1px solid var(--theme-color-shade);
  border-radius: 50%;
}

#profile-radio input[type="radio"]:checked + label:before {
  height: 15px;
  width: 15px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

#profile-radio input[type="radio"]:checked + label {
  background-color: var(--theme-color-shade);
  color: #ffffff;
}


// .theme-light #profile-radio label:before, body.theme-light #account_profile-radio__k6ntH label, body.theme-light #account_profile-radio__k6ntH label:before  {
//   border: 1px solid var(--theme-color-tint) !important;
// }

// .theme-light #profile-radio input[type=radio]:checked + label {
// background-color: var(--theme-color-tint) !important;
// color: #ffffff;
// }

// .theme-dark #profile-radio label:before, body.theme-dark #account_profile-radio__k6ntH label, body.theme-dark #account_profile-radio__k6ntH label:before  {
//   border: 1px solid var(--theme-color-shade) !important;
// }

// .theme-dark #profile-radio input[type=radio]:checked + label {
// background-color: var(--theme-color-shade) !important;
// color: #ffffff;
// }


#profile-btn {
  display: block !important;
  margin: 70px auto 0 !important;
}