.comment-container {
  padding: 10px 5px;
  border-top: 1px solid #eee;
}

.comment-input textarea {
  border: none !important;
  resize: none;
  width: 100% !important;

}

.comment-input i::before {
  color: var(--theme-color) !important;
  cursor: pointer;
}

.comment-content__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  // gap: 1.8rem;
  padding-right: 20px;
  height: auto; 
  max-height: 450px;
  overflow-y: auto;

  // Custom scrollbar styles
  &::-webkit-scrollbar {
    width: 8px; // Width of the scrollbar
  }

  &::-webkit-scrollbar-track {
    background: #fff; // Background of the scrollbar track
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Color of the scrollbar thumb
    border-radius: 4px; // Rounded corners for the scrollbar thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // Color of the scrollbar thumb when hovered
  }
}

// MEDIA QUERIES
@media (max-width: 768px) {
  .comment-content__container {
    padding-right: 5px;
  }
}
