#create-profile__container {
  padding: 0;
}

#profile-radio {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#profile-radio input[type="radio"] {
  display: none;
}

#profile-radio label {
  position: relative;
  color: var(--theme-color-text-secondary);
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem 2.5rem 1rem 1.5rem;
  width: 100%;
  border-radius: 5px;
}

#profile-radio label:before {
  content: "";
  height: 18px;
  width: 18px;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  right: 10px;
}

#profile-radio i {
  color: var(--theme-color-text-secondary);
}

#profile-radio input[type="radio"]:checked + label i {
  color: var(--theme-color-main);
}

#profile-radio input[type="radio"]:checked + label:before {
  height: 18px;
  width: 18px;
  border: 5px solid var(--theme-color-main);
  background-color: #ffffff;
}

#profile-radio input[type="radio"]:checked + label {
  box-shadow: 0 0 1px 2px var(--theme-color-main);
  color: var(--theme-color-main);
}

#profile-btn {
  display: block !important;
  margin: 70px auto 0 !important;
}

// Dark theme
:global(.theme-dark) {
  #profile-radio input[type="radio"]:checked + label {
    box-shadow: 0 0 1px 2px var(--theme-color-shade);
  }
}

// MEDIA QUERIES
@media (max-width: 768px) {
  #create-profile__container {
    :global(.card-body) {
      justify-content: center;
      padding: 1rem !important;
    }
  }
  #profile-radio {
    flex-direction: column;
    gap: 15px;
  }
}
