#create-profile__container {
  padding: 0;
}

#profile-radio {
  display: flex;
  gap: 10px;
}

#profile-radio input[type="radio"] {
  display: none;
}

#profile-radio label {
  position: relative;
  color: #4189e0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  border: 1px solid var(--theme-color-main);
  padding: 8px;
  border-radius: 1.5em;
}

#profile-radio label:before {
  content: "";
  height: 15px;
  width: 15px;
  border: 1px solid var(--theme-color-main);
  border-radius: 50%;
}

#profile-radio input[type="radio"]:checked + label:before {
  height: 15px;
  width: 15px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

#profile-radio input[type="radio"]:checked + label {
  background-color: var(--theme-color-main);
  color: #ffffff;
}

#profile-btn {
  display: block !important;
  margin: 70px auto 0 !important;
}

// MEDIA QUERIES
@media (max-width: 768px) {
  #create-profile__container {
    :global(.card-body) {
      justify-content: center;
      padding: 1rem !important;
    }
  }
}
