#header-title .page-title {
  font-size: 32px;
  letter-spacing: -3%;
  color: var(--theme-color);
}

#header-title .page-intro {
  font-size: 14px;
}

#page-title__search {
  background-color: #ddd;
}