#header-title {
  width: 100%;
  color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: var(--theme-color-main);
}

#header-title .page-title {
  font-size: 25px;
  letter-spacing: -3%;
  width: 100%;
  color: var(--light);
}

#page-title__search {
  background-color: var(--border-color-lighter);
}

:global(.theme-dark) {
  #header-title {
    color: var(--light);
    background-color: var(--theme-color-shade) !important;
  }

  .page-intro {
    color: var(--light) !important;
  }
  
}

// MEDIA QUERIES
@media (max-width: 768px) {
  #header-title {
    padding: 1.5rem;
  }
}