.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}

.pagination li,
.pagination button {
  cursor: pointer;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(125, 114, 114, 0.1);
  background-color: #fff;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: #111 !important;
}

.pagination li.selected,
.pagination li:hover,
.pagination li:active,
.pagination li:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  background: #135fb4;
  color: #fff;
}

:global(.theme-dark) {
  .pagination li.selected,
  .pagination li:hover,
  .pagination li:active,
  .pagination li:focus {
    background-color: var(--theme-color-shade);
    color: #fff;
  }
  .pagination li, .pagination button {
    color: var(--theme-color-shade);
    box-shadow: 0px 2x 2px 0px rgba(0, 0, 0, 0.1);
  }
}
