.post {
  max-height: 600px;
  display: flex;
}
.post i {
  cursor: pointer;
}

.post .expand-btn {
  color: var(--theme-color-tint);
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.post .post-comment {
  cursor: pointer;
}

:global(.theme-dark) {
  .post .expand-btn {
    color: var(--theme-color-shade);
  }
}

.post-image {
  width: -webkit-fill-available;
  display: block;
  height: -webkit-fill-available;
  object-fit: cover;
}
