.rating {
  display: flex;
  gap: 3px;
}

.rating .filled {
  color: gold;
}

.rating .half {
  color: lightgray !important;
  position: relative;
}

.half::before {
  content: "★";
  color: gold !important;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.rating .empty {
  color: lightgray !important;
}

:global(.theme-dark) {
  .rating .filled {
    color: gold !important;
  }
}