.image-slider-container {
  :global(.card-body):hover {
    transform: scale(1.1);
  }
}

.follow-btn {
  background-color: var(--theme-color-main);
  transition: all 0.2s ease-out;
}

.follow-btn:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

#top-brokers .follow-broker {
  background-color: var(--theme-color-text-secondary) !important;
  color: var(--light) !important;
  font-weight: 800;
  transition: all 0.2s ease-out;
}

.broker-ava__effect {
  display: inline-block;
  padding: 6px;
  border: none;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 4px;
  object-fit: cover;
}