@charset "UTF-8";

@import "@/public/assets/scss/style.scss";
@import "@/public/assets/css/feather.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --account-center-position-bottom: 0px;
  select {
    --w3o-text-color: #000
  }
  --onboard-modal-z-index: 10000000;
  --account-center-z-index: 10000000;
}



@media  (max-width: 992px) {
:root {
  --account-center-position-bottom: 50px
}
}